# easy http calls
requests

# db
sqlalchemy
alembic
sqlalchemy-utils
phonenumbers

# http api
flask
flask-cors
flask-sock
passlib[bcrypt]

# api validation
pydantic

# yaml support for config files etc
pyyaml

# algorithm
numpy

# getting long/lat from addresses for hospitals etc
geopy
geocoder

# data setup
Faker
pdftotext