# easy http calls
requests

# db
sqlalchemy
alembic
sqlalchemy-utils
phonenumbers

# api app
flask
flask-cors
passlib[bcrypt]

# yaml support for config files etc
pyyaml

# getting long/lat from addresses for hospitals etc
geopy
geocoder
